<header>
  <div class="navbar">
    <div class="appLogo" [routerLink]="['/']">
      <img  src="assets/Rattatask_logo.png" alt="">
      <h1 class="rattatask_title">Rattatask</h1>
    </div>
    <button (click)="disconnect()" type="submit" mat-fab *ngIf="isAuthenticated" color="primary">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</header>
<main class="main">
  <div class="content">
    <div class="connection" *ngIf="!isAuthenticated">
      <app-login></app-login>
      <app-signup></app-signup>
    </div>
    <router-outlet *ngIf="isAuthenticated" />

  </div>
</main>
