.connection{
  display: flex;
  justify-content: center;
}

.appLogo{
  display: flex;
  align-items: center;
}

.appLogo img{
  height: 4rem;
  margin-right: 0.5rem;
}

.rattatask_title {
  font-family: Impact;
  font-weight: bold;
  font-size: 3rem;
  color: blueviolet;
  margin-bottom: 0px;
}

.appLogo:hover{
  cursor:pointer;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}


.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
}

.menu-button {
  display: none;
}


.navItem{
  display: flex;
  align-items: center;
}

.mat-icon{
  margin-right: 1rem;
}
