<header>
  <div class="navbar">
    <div class="appLogo">
      <img src="assets/Rattatask_logo.png" alt="">
      <h1 class="rattatask_title">Rattatask</h1>
    </div>
  </div>
</header>
<main class="main">
  <div class="connection" *ngIf="!isAuthenticated">
    <app-login></app-login>
    <app-signup></app-signup>
  </div>
  <mat-sidenav-container class="sidenav-container" *ngIf="isAuthenticated">
    <mat-sidenav #drawer class="sidenav" mode="side" opened>
      <mat-toolbar color="primary">
        <mat-icon>menu</mat-icon> Menu
      </mat-toolbar>
      <mat-nav-list>

        <a mat-list-item [routerLink]="['/']">
          <div class="navItem">
            <mat-icon color="primary">fact_check</mat-icon> Projets
          </div>

        </a>

        <a mat-list-item [routerLink]="['/tasks']">
          <div class="navItem">
            <mat-icon color="primary">task</mat-icon> Mes tâches
          </div>

        </a>
        <a mat-list-item [routerLink]="['/profile']">
          <div class="navItem">
            <mat-icon color="primary">person</mat-icon>Profil
          </div>

        </a>
        <a mat-list-item (click)="disconnect()">
          <div class="navItem">
            <mat-icon color="primary">logout</mat-icon>Déconnexion
          </div>

        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet *ngIf="isAuthenticated" />
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
