:host {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

h1{
  font-family: Impact;
}

.button {
  display: flex;
  float: right;
  padding: 0.5rem;
}

button{
  margin: 0.25rem;
  height: 3rem;
  width: 3rem;
  color: rgb(236, 226, 176);
}

.mdc-card{
  width : 100%;
  background-color: rgba(219, 200, 113, 0.342);
  color: blueviolet;
  border: 3px solid blueviolet;
  border-radius: 15px;
}

p{
  color: blueviolet;
}
