<mat-card appearance="outlined">
  <mat-card-content>
    <mat-card-title>
      <h1>{{task.name}}</h1>
    </mat-card-title>
    <mat-card-subtitle>

      <p>{{task.status}}</p>
    </mat-card-subtitle>
    <p>{{task.description}}</p>
  </mat-card-content>
  <mat-card-footer>
    <div class="button">
      <button type="submit" (click)="openUpdateTaskDialog()" mat-raised-button color="primary">Modifier</button>
      <button type="submit" mat-raised-button color="primary" (click)="deleteTask()">Supprimer</button>
    </div>
  </mat-card-footer>

</mat-card>
