:host {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
  margin-right: 1rem;
}

.button {
  display: flex;
  flex-direction: column;
  float: right;
  padding: 0.5rem;
}

button{
  margin-bottom: 0.5rem;
}

.mdc-card{
  width : 100%;
  background-color: rgba(134, 30, 207, 0.329);
  color: white;
}

p{
  color: white;
}
