<mat-card appearance="outlined">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-header>
      <mat-card-title>Connexion</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="E-mail" formControlName="email">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Mot de passe" formControlName="password">
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-footer>
      <div class="button">
        <button type="submit" mat-button>Connexion</button>
      </div>
    </mat-card-footer>
  </form>


</mat-card>
