<mat-card appearance="outlined">
  <mat-card-content>
    <mat-card-title>
      <h1>{{project.name}}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <p>{{project.tasks.length}} tâches</p>
    </mat-card-subtitle>
    <p class="todo">{{numberOfTodo}} tâches à faire</p>
    <p class="ongoing">{{numberOfOnGoing}} tâches en cours</p>
    <p class="done">{{numberOfDone}} tâches terminées</p>
  </mat-card-content>
  <mat-card-footer>
    <div class="button">
      <button [routerLink]="['/project', project.id]" mat-raised-button color="primary">Accéder</button>
      <button (click)="delete()" mat-raised-button color="primary">Supprimer</button>
    </div>
  </mat-card-footer>

</mat-card>
