<mat-card   appearance="outlined">
  <mat-card-content [routerLink]="['/project', project.id]">
    <mat-card-title>
      <h1 >{{project.name}}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <p class="total">{{project.tasks.length}} tâches au total</p>
    </mat-card-subtitle>
    <p class="todo">{{numberOfTodo}} tâches à faire</p>
    <p class="ongoing">{{numberOfOnGoing}} tâches en cours</p>
    <p class="done">{{numberOfDone}} tâches terminées</p>
  </mat-card-content>
  <mat-card-footer>
    <div class="button">
      <button (click)="delete()" mat-fab color="primary">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-footer>

</mat-card>
