:host {
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 0.5rem;
}

:host:hover{

}

.button {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

button{
  margin-right: 0.25rem;
  height: 3rem;
  width: 3rem;
}

h1{
  color: blueviolet;
  font-family: Impact;
}

.total{
  font-weight: bold;
}

.todo{
  color: red;
}

.ongoing {
  color: orange;
}

.done {
  color: green;
}

.mdc-card {
  background-color: transparent;
  border: 3px solid blueviolet;
  border-radius: 15px;
}

.mat-mdc-card-content:hover{
  cursor: pointer;
}
