.board-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.board-column {
  flex: 1;
  background-color: rgba(219, 200, 113, 0.164);
  color: blueviolet;
  border: 3px solid blueviolet;
  border-radius: 8px;
  padding: 10px;
  height: fit-content;
}

.tasks {
  display: flex;
  flex-direction: column;
}

h1{
  font-family: Impact;
  display: flex;
  justify-content: center;
  color: blueviolet;
  font-weight: bold;
}

h2{
  font-family: Impact;
  font-weight: bold;
}

.toolBar{
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}
