<div class="update-task-container">
  <form [formGroup]="form">
    <h1>Modifier une tâche</h1>
    <h2>{{task.name}}</h2>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Enter task description" formControlName="description">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Statut</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let s of status" [value]="s.id">
          {{ s.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Personne affectée</mat-label>
      <mat-select formControlName="userIds" multiple>
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{ user.email }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSubmit()" type="submit">Modifier</button>
    <button mat-button (click)="closeDialog()" type="submit">Annuler</button>
  </form>
</div>
